body,
h1,
ul,
li,
button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    background: rgb(255, 255, 200);
    justify-content: space-between;
    overflow: auto;
}

div.lateral {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: rgba(11, 65, 0, 0.705);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
    color: #fff;
    padding: 20px 20px 20px 20px;
    overflow: auto;
}

h1 {
    font: normal Impact, fantasy;
    font-size: 24px;
}

p {
    font-size: 16px;
    font-weight: 300;
    align-items: center;
    justify-content: center;
}

#res {
    background: rgb(255, 255, 200);
    position: fixed;
    top: 0;
    height: 100%;
    width: calc(100% - 445px);
    left: 400px;
    padding: 20px;
    overflow: auto;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    overflow-wrap: break-word;
    word-break: break-all;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    margin-top: 10px;
}

li {
    margin-top: 10px;
}

input {
    text-align: center;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4a7bb169;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    font: normal 15pt arial;
    position: fixed;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    color: #ffffff;
    padding: 10px 10px 0px 10px;
}

/* Consultas de mídia para responsividade */

/* Para telas menores, como dispositivos móveis */
@media (max-width: 600px) {
    body {
        flex-direction: column;
    }

    div.lateral {
        width: 100%;
        height: auto;
        border-radius: 0;
        position: static;
    }

    #res {
        width: 100%;
        left: 0;
        padding: 10px;
        position: static;
        height: auto;
    }

    footer {
        width: 100%;
        bottom: 0;
        right: 0;
        border-radius: 0;
        border-top-right-radius: 10px;
    }
}

/* Para tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    div.lateral {
        width: 250px;
    }

    #res {
        width: calc(100% - 270px);
        left: 250px;
    }

    h1 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
    }
}

/* Para desktops */
@media (min-width: 1025px) {
    div.lateral {
        width: 350px;
    }

    #res {
        width: calc(100% - 445px);
        left: 400px;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }
}