body {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font: normal 12pt Arial, sans-serif;
    text-align: center;
}

h1 {
    color: rgb(255, 254, 254);
    font: normal 30pt Arial, sans-serif;
    margin: 20px 0;
    text-align: center;
}

section {
    background: rgb(75, 75, 75);
    border-radius: 10px;
    padding: 15px;
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(17, 17, 17);
    transition: background-color 0.3s, transform 0.3s;
    margin: 0 auto;
}

a:hover {
    background-color: gray;
    transform: scale(1.05);
}

footer {
    text-align: center;
}

/* Consultas de mídia para responsividade */

/* Para telas menores, como dispositivos móveis */
@media (max-width: 600px) {
    h1 {
        font-size: 24pt;
    }

    a {
        height: 40px;
        border-radius: 20px;
    }
}

/* Para tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    h1 {
        font-size: 28pt;
    }

    a {
        height: 45px;
        border-radius: 22.5px;
    }
}

/* Para desktops */
@media (min-width: 1025px) {
    h1 {
        font-size: 30pt;
    }

    a {
        height: 50px;
        border-radius: 25px;
    }
}
